{% form_theme form _self %}

{%- block form_row -%}
    <div>
        <label for="{{ form.vars.id }}">{{ form.vars.name|SKCMSLocaleTranslationDecode }}</label>
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}


<form action="" method="post">
    {{ form_widget(form)}}
</form>